/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	 border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
} */
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */

/*	INDEX HTML HERE*/

nav{
	display:flex;
	justify-content: space-between;
	width:75%;
	padding-top: 25px;
}

nav a{
	display:flex;
	flex:start;
	color:grey;
	text-decoration:none;
	margin-left: 50px;
	

}

.logo{
	display:flex;
	justify-content: flex-end;
	margin-left:77%
}

.iod{
	text-align: center;
	border: 1px solid red;
	align-items: flex-start;
	width:15%;
	margin-left: 15%;
}

h1{
	display:flex;
	margin-left: 22%;
	margin-top: 45px;
	font-size: 75px;
}

button{
	background-color: white;
	outline: black;		
	font-size: 15px;
	display:flex;
	margin-left: 28%;
	margin-top:15px;

}

.codepic{
	display: flex;
	align-items: flex-end;
	border: 1px solid red;
	width:25%;
	margin-left: 50%;
	margin-top:-290px

}

















